# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
mordheim-warbands-dev-firebase-adminsdk-nf8v6-2a77ccaa2b.json
mordheim-warbands-dev-7b0c5b821785.json
myDatabase.json
backups
credentials.json
cypress.env.json